:root {
    background-color: blueviolet;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #1a1a1a;
            cursor: pointer;
            transition: border-color 0.25s;
            color: honeydew;
            margin-top: 10vh;
            margin-inline: 5vw;
            scale: 2;
        }
    
        button:focus,
        button:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }
        
}
#loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: honeydew;
            transition: border-color 0.25s;
            margin-top: 10vh;
            margin-inline: 2vw;
            scale: 1;
            border: 0;
    }
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    input {

        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: scale 0.25s, background-color 0.5s ease, color 0.5s;
        color: honeydew;
        margin-top: 10vh;
        margin-inline: 5vw;
        scale: 1.8;
    }
    
    input:hover {
        scale: 1.9;
        color: #1a1a1a;
        background-color: rgb(200, 200, 200);
    }
    
    input:focus,
    input:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}